<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>equipmentDetail</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/equipmentDetail.css" />
    <!-- <link rel="stylesheet" href="../static/css/nav.css" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <link rel="stylesheet" href="../static/css/equipmentDetail.css" /> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
  </head>
  <body>
    <nav class="mainNav">
      <img
        src="https://research-hub.auckland.ac.nz/assets/imgs/uoa-logo.svg"
        alt="logo"
      />
      <div class="cate">
        <ul class="nav flex-column">
          <li class="nav-item nav-header">
            <a class="nav-link " href="#" id="nav-dashboard">
              <i class="fa-solid fa-list-check nav-icon"></i>
              <span>Dashboard</span>
            </a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item nav-header">
            <a class="nav-link active" href="#" id="nav-equipment">
              <i class="fa-solid fa-tachograph-digital nav-icon"></i>
              <span>Equipment</span>
            </a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item nav-header">
            <a id="nav-booking" class="nav-link">
              <i class="fa-solid fa-calendar-days nav-icon"></i>
              <span>Bookings</span>
            </a>
          </li>
        </ul>
        <ul class="nav flex-column">
          <li class="nav-item nav-header">
            <a class="nav-link" href="#" id="nav-incident">
              <i class="fa-solid fa-file-circle-exclamation nav-icon"></i>
              <span>Incident Report</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="right">
      <header>
        <div class="search lab-logo">
          <div class="logo-outline">
            <img src="/img/labname.png" alt="" />
          </div>

          <div class="user-role">
            <div class="UPI"></div>
            <div class="avatar">A</div>
          </div>
        </div>
        <div class="myline"></div>
        <div class="breadcrumb">
          <div class="path">
            <!-- <a href="http://localhost:8080/equipmentList">Equipment</a> -->
            Equipment >
            <span id="path-name"></span>
          </div>
        </div>
      </header>
      <form id="equipmentEditForm">
        <section class="eitemList detail">
          <div class="base-info">
            <div class="pic">
              <img
                id="previewImage"
                alt="Preview Image"
               src="#"
              />
              <div class="image-change noshow" id="image-change">
                <input
                  type="file"
                  id="imageInput"
                  class="imageInput"
                  accept="image/*"
                  placeholder="Upload Image"
                />
               
              </div>
            </div>
            <div class="info-right">
              <div class="e-name"><span id="description" name="description"></span></div>
              <div class="e-uoaID">
                <span>UOA ID:</span> <span id="uoaID"></span>
              </div>
              <div class="e-brand">
                <span>Brand:</span> <span id="brand"></span>
              </div>
              <div><span>Model:</span> <span id="model"></span></div>
              <div>
                <span>Serial Number:</span> <span id="serialNumber"></span>
              </div>
            </div>
          </div>
          <div class="usage">
            <div>
              <div>
                <span> Status:</span> <span id="equipmentStatus"></span>
              </div>
              <div>
                <span> Due Day:</span><span id="dueDay"></span
                ><i
                  class="fa-solid fa-circle-exclamation over-due-icon"
                  style="color: rgb(238, 23, 23)"
                ></i>
              </div>

              <div>
                <span> Booked By:</span>
                <span id="bookedBy"></span>
              </div>
              <div>
                <span> Max use Period:</span> <span id="maxUseDay"> </span> Days
              </div>
              <div>
                <span> Building:</span>
                <span id="building"></span>
              </div>
              <div>
                <span> Room:</span>
                <span id="room"></span>
              </div>

              <div>
                <span> Device Pickup Allowed:</span>
                <span id="pickupAllowed" name="pickupAllowed"></span>
              </div>

              <div>
                <span> Health & safety requirements:</span>
                <span id="safetyRequirements" name="safetyRequirements"></span>
              </div>

              <div>
                <span>Operating Requirements:</span>
                <span id="operatingRequirements" name="operatingRequirements"></span>
              </div>
              



            </div>

          

            <a
              id="booking-view"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              >View Bookings Calendar</a
            >
          </div>
          <div class="maintain">
            <div>
              <!-- <div><span> ID:</span> <span id="e-id">UOA225936</span></div> -->
              <div>
                <span> Normal Position:</span><span id="normalPosition"></span>
              </div>
              <div><span> Width(mm):</span> <span id="widthMM"></span></div>
              <div><span> Depth(mm):</span><span id="depthMM"></span></div>
              <div><span> Height(mm):</span> <span id="heightMM"></span></div>
              <div>
                <span> Power Rating:</span> <span id="powerRating"></span>
              </div>
              <div>
                <span> 1 or 3 Phase:</span> <span id="phase1or3" name="phase1or3"></span>
              </div>
              <div>
                <span> Last Modified Time:</span>
                <span id="lastEditTime"></span>
              </div>
            
            </div>
            <div>
              <span> Condition Note:</span>
              <textarea
                name="notes"
                id="notes"
                cols="30"
                rows="5"
                disabled
              ></textarea>
            </div>
            <!-- <a
              id="record-view"
              href=""
              target="_blank"
              rel="noopener noreferrer"
              >View Incident Record</a
            > -->
          </div>
          <div class="admin-op">
            <button
              type="button"
              class="btn btn-primary edit-cancel"
              id="cancelButton"
            >
              Cancel
            </button>

            <button type="button" class="btn btn-primary" id="editButton">
              Edit
            </button>
            <button type="submit" class="btn btn-primary hidden" id="saveButton">
                Save
              </button>

            <button
              type="button"
              class="btn btn-primary"
              id="deleteButton"
              data-bs-toggle="modal"
              data-bs-target="#delModal"
            >
              Delete
            </button>

            <button type="button" id="bookButton" class="btn btn-primary">
              Booking
            </button>
            <button type="button" id="backButton" class="btn btn-primary">
              <i class="fa-solid fa-chevron-left" style="color: #fff"></i>
              Back
            </button>
          </div>
        </section>
      </form>
      <!-- pop up -->
      <div
        class="modal fade"
        id="delModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title dialog-title-del">
                <i class="fa-regular fa-trash-can" style="color: #cf706d"></i>
                <span> Delete Confirmation</span>
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete the equipment?</p>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary dialog-btn-cancel"
                data-bs-dismiss="modal"
              >
                Cancel
              </button>
              <button
                type="button"
                class="btn btn-secondary dialog-btn-del"
                data-bs-dismiss="modal"
              >
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- toastContainer -->
      <div
        class="toast-container position-fixed top-0 start-50 translate-middle-x"
      >
        <div
          id="liveToast"
          class="toast"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-body text-light" id="toast-body"></div>
        </div>
      </div>
      
    </div>
  </body>
</html>

<script
  src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa"
  crossorigin="anonymous"
></script>

<script
  src="https://kit.fontawesome.com/6d009c3487.js"
  crossorigin="anonymous"
></script>
<!-- <script src="../static/js/equipmentDetail.js"></script>
<script src="../static/js/nav.js"></script> -->
<script src="/js/equipmentDetail.js"></script>
<script src="/js/nav.js"></script>
